{% extends "web/base.html" %}
{% load static %}
{% load humanize %}

{% block section1 %}

<!-- Start Statusrea -->
<div class="notika-status-area">
    <div class="container">
        <div class="row">

        {% for box in boxes %}

            {% if forloop.counter0 > 0 and forloop.counter0|divisibleby:"4" %}</div><div class="row">{% endif %}
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="wb-traffic-inner notika-shadow sm-res-mg-t-30 tb-res-mg-t-30">
                    <div class="website-traffic-ctn">
                        <h2><span class="counter">{{ box.counter }}</span></h2>
                        <p>{{ box.title}}</p>
                    </div>
                    <div class="sparkline-bar-stats{% if box.type == 'country' %}1{% else %}2{% endif %}">{{ box.data_list }}</div>
                </div>
            </div>

        {% endfor %}

        </div>
    </div>
</div>
<!-- End Status area-->

<!-- Data Table area Start-->
    <div class="data-table-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="data-table-list">
                        <div class="basic-tb-hd">
                            <h2>Últimos dominios caidos</h2>
                            <p>(según nuestro sistema lo detecta)</p>
                        </div>
                        <div class="table-responsive">
                            <table id="data-table-basic" class="table table-striped">
                                <thead>
                                    <tr>
<th>Dominio</th><th>Detectado</th>
                                    </tr>
                                </thead>
                                <tbody>
{% for campo in ultimos_caidos %}
<tr>
    <td>{{ campo.cambio.dominio.full_domain }}</td>
    <td>{{ campo.cambio.momento }}</td>
</tr>
{% endfor %}                                 
                                </tbody>
<!-- <tfoot><tr><th>Dominio</th><th>Detectado</th></tr></tfoot> -->
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Data Table area End-->

{% endblock section1 %}