{% extends "web/base.html" %}
{% load static %}
{% load humanize %}

{% block section1 %}

<!-- Start Statusrea -->
<div class="notika-status-area">
    <div class="container">
        <div class="row">

        {% for box in boxes %}

            {% if forloop.counter0 > 0 and forloop.counter0|divisibleby:"4" %}</div><div class="row">{% endif %}
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="wb-traffic-inner notika-shadow sm-res-mg-t-30 tb-res-mg-t-30">
                    <div class="website-traffic-ctn">
                        <h2><span class="counter">{{ box.counter }}</span></h2>
                        <p>{{ box.title}}</p>
                    </div>
                    <div class="sparkline-bar-stats{% if box.type == 'country' %}1{% else %}2{% endif %}">{{ box.data_list }}</div>
                </div>
            </div>

        {% endfor %}

        </div>
    </div>
</div>
<!-- End Status area-->

<!-- ULTIMOS CAIDOS Data Table area Start-->
    <div class="data-table-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="data-table-list">
                        <div class="basic-tb-hd">
                            <h2>Últimos dominios caidos</h2>
                            <p>(según nuestro sistema lo detecta)</p>
                        </div>
                        <div class="table-responsive">
                            <table id="data-table-basic" class="table table-striped">
                                <thead>
                                    <tr>
<th>Dominio</th><th>Ultimo registrante</th><th>Fecha expiracion</th><th>Detectado</th>
                                    </tr>
                                </thead>
                                <tbody>
{% for campo in ultimos_caidos %}
<tr>
    <td>{{ campo.cambio.dominio.full_domain }}</td>
    <td>{% if campo.brother_registrant_name %}{{ campo.brother_registrant_name.anterior }}{% endif %}</td>
    <td>{% if campo.brother_expire %}{{ campo.brother_expire.anterior }}{% endif %}</td>
    <td>{{ campo.cambio.momento|date:"Y-m-d H:i:s" }}</td>
</tr>
{% endfor %}                                 
                                </tbody>
<!-- <tfoot><tr><th>Dominio</th><th>Detectado</th></tr></tfoot> -->
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Data Table area End-->


<!-- ULTIMOS REGISTRADOS Data Table area Start-->
<div class="data-table-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="data-table-list">
                    <div class="basic-tb-hd">
                        <h2>Últimos dominios registrados</h2>
                        <p>(según nuestro sistema lo detecta)</p>
                    </div>
                    <div class="table-responsive">
                        <table id="data-table-basic" class="table table-striped">
                            <thead>
                                <tr>
<th>Dominio</th><th>Ultimo registrante</th><th>Fecha registro</th><th>Detectado</th>
                                </tr>
                            </thead>
                            <tbody>
{% for dominio in ultimos_registrados %}
<tr>
<td>{{ dominio.nombre }}.{{ dominio.zona.nombre }}</td>
<td>{{ dominio.registrante.name }}</td>
<td>{{ dominio.registered }}</td>
<td>{{ dominio.data_updated|date:"Y-m-d H:i:s" }}</td>
</tr>
{% endfor %}                                 
                            </tbody>
<!-- <tfoot><tr><th>Dominio</th><th>Detectado</th></tr></tfoot> -->
</table></div></div></div></div></div></div>
<!-- Data Table area End-->


<!-- Hostings Data Table area Start-->
<div class="data-table-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="data-table-list">
                    <div class="basic-tb-hd">
                        <h2>Hosting más usados</h2>
                        <p>(según nuestro sistema usando el DNS1 como referencia)</p>
                    </div>
                    <div class="table-responsive">
                        <table id="data-table-basic" class="table table-striped">
                            <thead>
                                <tr>
<th>Hosting</th><th>Dominios apuntados</th>
                                </tr>
                            </thead>
                            <tbody>
{% for host in hostings %}
<tr>
<td>{{ host.nombre }}</td>
<td>{{ host.total_dominios }}</td>
</tr>
{% endfor %}                                 
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Data Table area End-->


<!-- Nuevos tagueados-->
<div class="data-table-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="data-table-list">
                    <div class="basic-tb-hd">
                        <h2>Nuevos dominios de registrantes etiquetados</h2>
                        <p>(según nuestro sistema)</p>
                    </div>
                    <div class="table-responsive">
                        <table id="data-table-basic" class="table table-striped">
                            <thead>
                                <tr>
<th>Dominio</th><th>Registrante</th><th>Registrado</th><th>Etiquetas</th>
                                </tr>
                            </thead>
                            <tbody>
{% for nuevo in news_from_tags %}
<tr>
<td>{{ nuevo.full_domain}}</td>
<td>{{ nuevo.registrante }}</td>
<td>{{ nuevo.registered|date:"Y-m-d H:i:s" }}</td>
<td>{% for rt in nuevo.registrante.tags.all %}{{ rt.tag.nombre }} {% endfor %}</td>
</tr>
{% endfor %}                                 
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Data Table area End-->

<!-- Nuevos tagueados-->
<div class="data-table-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="data-table-list">
                    <div class="basic-tb-hd">
                        <h2>Dominios vencidos y por caer de registrantes etiquetados</h2>
                        <p>(según nuestro sistema)</p>
                    </div>
                    <div class="table-responsive">
                        <table id="data-table-basic" class="table table-striped">
                            <thead>
                                <tr>
<th>Dominio</th><th>Registrante</th><th>Expira</th><th>Etiquetas</th>
                                </tr>
                            </thead>
                            <tbody>
{% for nuevo in expired_from_tags %}
<tr>
<td>{{ nuevo.full_domain}}</td>
<td>{{ nuevo.registrante }}</td>
<td>{{ nuevo.expire|date:"Y-m-d H:i:s" }}</td>
<td>{% for rt in nuevo.registrante.tags.all %}{{ rt.tag.nombre }} {% endfor %}</td>
</tr>
{% endfor %}                                 
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Data Table area End-->


<!-- transferencias -->
    <div class="data-table-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="data-table-list">
                        <div class="basic-tb-hd">
                            <h2>Transferencias de dominios</h2>
                            <p>(según nuestro sistema lo detecta)</p>
                        </div>
                        <div class="table-responsive">
                            <table id="data-table-basic" class="table table-striped">
                                <thead>
                                    <tr>
<th>Dominio</th><th>Anterior</th><th>Nuevo</th><th>Detectado</th>
                                    </tr>
                                </thead>
                                <tbody>
{% for campo in Transferencias %}
<tr>
    <td>{{ campo.cambio.dominio.full_domain }}</td>
    {% with r=campo.cambio.registrantes_en_cambio %}
    <td>{{ r.0 }}</td><td>{{ r.1 }}</td>
    {% endwith %}
    <td>{{ campo.cambio.momento|date:"Y-m-d H:i:s" }}</td>
</tr>
{% endfor %}                                 
                                </tbody>
<!-- <tfoot><tr><th>Dominio</th><th>Detectado</th></tr></tfoot> -->
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Data Table area End-->

<!-- cambios de tagueados-->
    <div class="data-table-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="data-table-list">
                        <div class="basic-tb-hd">
                            <h2>Transferencias de dominios registrantes etiquetados</h2>
                            <p>(según nuestro sistema lo detecta)</p>
                        </div>
                        <div class="table-responsive">
                            <table id="data-table-basic" class="table table-striped">
                                <thead>
                                    <tr>
<th>Dominio</th><th>Anterior</th><th>Nuevo</th><th>Detectado</th>
                                    </tr>
                                </thead>
                                <tbody>
{% for campo in Transferencias %}
<tr>
    <td>{{ campo.cambio.dominio.full_domain }}</td>
    {% with r=campo.cambio.registrantes_en_cambio %}
    <td>{{ r.0 }}</td><td>{{ r.1 }}</td>
    {% endwith %}
    <td>{{ campo.cambio.momento|date:"Y-m-d H:i:s" }}</td>
</tr>
{% endfor %}                                 
                                </tbody>
<!-- <tfoot><tr><th>Dominio</th><th>Detectado</th></tr></tfoot> -->
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Data Table area End-->

{% endblock section1 %}