0 10,23 * * * cd /PATH/nic/djnic/ && . /PATH/env/bin/activate && /PATH/env/bin/python manage.py new_domains_AR_auto --days_ago 2
0 2 * * * cd /PATH/nic/djnic/ && . /PATH/env/bin/activate && /PATH/env/bin/python manage.py clean_custom_changes_error --delete True

